.image-thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.image-thumbs img {
  max-width: 50px;
  max-height: 50px;
  flex-grow: 1;
  padding: .5em;
}